<main>
  <div *ngIf="!isAuthenticated()" class="unauthorized">
    <div>
      You aren't logged it.
    </div>
    <form (submit)="loginSubmit()">
      <div>
        <label for="username">Username</label>
        <input [(ngModel)]="username" type="text" id="username" name="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input [(ngModel)]="password" type="password" id="password" name="password" />
      </div>
      <div>
        <input type="submit" value="login" />
      </div>
      <div *ngIf="error.length">
        <div class="error">
          {{error}}
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isAuthenticated() && !isAdmin()" class="authorized">
    <p>
      Logged in. Access to Items granted.
    </p>
  </div>

  <div *ngIf="isAdmin()" class="admin">
    Logged in as Admin. Access to Items and Users granted.
  </div>
</main>
