<div id="main">
  <header class="header">
    <div class="header-div">
      <h1>JWT Authorization Example</h1>
    </div>
    <div id="nav">
      <div class="btn">
        <a routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Start</a>
      </div>
      <div class="btn">
        <a href="/users">Users</a>
      </div>
      <div class="btn">
        <a href="/items">Items</a>
      </div>
    </div>
  </header>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <footer id="footer">Mikołaj Jóźwik</footer>

</div>
