<div id="main">
  <header class="header">
    <div class="header-div">
      <h1>JWT Authorization Example</h1>
    </div>
    <div id="nav">
      <div class="btn">
        <a routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Start</a>
      </div>
      <div *ngIf="canAccessUsers()" class="btn">
        <a href="/users">Users</a>
      </div>
      <div *ngIf="canAccessItems()" class="btn">
        <a href="/items">Items</a>
      </div>
    </div>
  </header>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <footer id="footer">
    <div *ngIf="getUsername()">
      {{getUsername()}}
      <a class="logout" href (click)="logout()">Logout</a>
    </div>
    <div *ngIf="!getUsername()">
      Nameless
    </div>
  </footer>

</div>
