@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
  background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=50478");
  font-family: 'Maven Pro', sans-serif;
}

header {
  display: flex;
  background-color: #f5f5f5;
  justify-content: space-between;
}
:root {
  --primary-color: #6969B3;
  --secondary-color: rgba(46, 188, 220, 0.93);
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}
